@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dela Gothic One';
  src: url('../fonts/DelaGothicOne-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Podkova';
  src: url('../fonts/Podkova-ExtraBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Podkova';
  src: url('../fonts/Podkova-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dot {
    @apply w-6 h-6 rounded-full bg-white absolute opacity-55 mobile:w-3 mobile:h-3
  }
}

.money-portal::before {
  content: '';
  width: 100%;
  height: 100%;
  box-shadow: 0 29px 98px 0 rgba(0, 0, 0, 0.4);
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.15) 0%, #fff 30%, rgba(255, 255, 255, 0.49) 50%, #fff 69.5%, rgba(255, 255, 255, 0.15) 100%);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}

.spin-btn-text {
  text-shadow: 0 9px 9px #000;
}

.number {
  position: absolute;
  width: 50%;
  height: 50%;
  transform-origin: bottom right;
  transform: rotate(calc(22.5deg * var(--i)));
  display: flex;
  align-items: center;
  justify-content: center;
}

.number div {
  transform: rotate(-135deg);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.number div p {
  font-family: 'Dela Gothic One';
  font-size: 32px;
  color: #fff;
  line-height: 76%;
  text-shadow: -6px 0px 8px #000;
}

.number div .wheel-currency {
  opacity: 0;
}

.number div .wheel-lose {
  margin-left: 40px;
}

@media (max-width: 1650px) {
  .number div img {
    width: 30px;
    height: 30px;
  }

  .number div p {
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  .number div .wheel-currency {
    width: 17px;
    height: 17px;
  }

  .number div p {
    font-size: 12px;
  }
}

.overlay.is-open {
  display: grid;
}

.modal {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.modal-win {
  box-shadow: inset 0 10px 13px 0 rgba(255, 255, 255, 0.66);
  background: url('../img/modal-lines.svg'), linear-gradient(180deg, #24a521 0%, #26351d 100%);

}

.modal-lose {
  box-shadow: inset 0 8px 11px 0 rgba(255, 255, 255, 0.66);
  background: linear-gradient(180deg, #f54242 0%, #821717 100%);
}

.modal-win .modal-head p {
  text-shadow: 0 5px 0 #1d500c, 0 -2px 0 #1d500c, -2px 0 0 #1d500c, 2px 0 0 #1d500c;
}

.modal-lose .modal-head p {
  text-shadow: 0 5px 0 #380808, 0 -2px 0 #380808, -2px 0 0 #380808, 2px 0 0 #380808;
}

.modal-head span {
  text-shadow: 0 5px 0 #380808;
}

.modal-prize {
  box-shadow: inset 0 10px 10px 0 rgba(0, 0, 0, 0.25);
}

.modal-prize span {
  background: linear-gradient(180deg, #fff 0%, #cfffb9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 10px rgba(207, 255, 185, 0.7));
}

.modal-prize img {
  filter: drop-shadow(0 0 10px rgba(207, 255, 185, 0.7));
}

.modal-btn {
  box-shadow: inset 0 -11px 11px 0 rgba(255, 255, 255, 0.34), inset 0 10px 5px 0 rgba(0, 0, 0, 0.3), 0 -5px 0 0 rgba(56, 8, 8, 0.4), 0 2px 0 0 rgba(255, 255, 255, 0.27);
  background: linear-gradient(180deg, #16c013 16.48%, #085e05 61.69%);
}

.star {
  filter: drop-shadow(0 0 9px #fff);
}