@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dela Gothic One';
  src: url('../fonts/DelaGothicOne-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Podkova';
  src: url('../fonts/Podkova-ExtraBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Podkova';
  src: url('../fonts/Podkova-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-white
  }
}

@layer components {
  .dot {
    @apply w-6 h-6 rounded-full bg-white absolute opacity-55 mobile:w-3 mobile:h-3
  }
}

.money-portal::before {
  content: '';
  width: 100%;
  height: 100%;
  box-shadow: 0 29px 98px 0 rgba(0, 0, 0, 0.4);
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.15) 0%, #fff 30%, rgba(255, 255, 255, 0.49) 50%, #fff 69.5%, rgba(255, 255, 255, 0.15) 100%);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}

.spin-btn-text {
  text-shadow: 0 9px 9px #000;
}

.number {
  position: absolute;
  width: 50%;
  height: 50%;
  transform-origin: bottom right;
  transform: rotate(calc(22.5deg * var(--i)));
  display: flex;
  align-items: center;
  justify-content: center;
}

.number div {
  transform: rotate(-135deg);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.number div p {
  font-family: 'Dela Gothic One';
  font-size: 32px;
  color: #fff;
  line-height: 76%;
  text-shadow: -6px 0px 8px #000;
}

.number div .wheel-currency {
  opacity: 0;
}

.number div .wheel-lose {
  margin-left: 40px;
}

@media (max-width: 1650px) {
  .number div img {
    width: 30px;
    height: 30px;
  }

  .number div p {
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  .number div .wheel-currency {
    width: 17px;
    height: 17px;
  }

  .number div p {
    font-size: 12px;
  }
}

.overlay.is-open {
  display: grid;
}

.modal {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.modal-win {
  box-shadow: inset 0 10px 13px 0 rgba(255, 255, 255, 0.66);
  background: url('../img/modal-lines.svg'), linear-gradient(180deg, #24a521 0%, #26351d 100%);

}

.modal-lose {
  box-shadow: inset 0 8px 11px 0 rgba(255, 255, 255, 0.66);
  background: linear-gradient(180deg, #f54242 0%, #821717 100%);
}

.modal-win .modal-head p {
  text-shadow: 0 5px 0 #1d500c, 0 -2px 0 #1d500c, -2px 0 0 #1d500c, 2px 0 0 #1d500c;
}

.modal-lose .modal-head p {
  text-shadow: 0 5px 0 #380808, 0 -2px 0 #380808, -2px 0 0 #380808, 2px 0 0 #380808;
}

.modal-head span {
  text-shadow: 0 5px 0 #380808;
}

.modal-prize {
  box-shadow: inset 0 10px 10px 0 rgba(0, 0, 0, 0.25);
}

.modal-prize span {
  background: linear-gradient(180deg, #fff 0%, #cfffb9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 10px rgba(207, 255, 185, 0.7));
}

.modal-prize img {
  filter: drop-shadow(0 0 10px rgba(207, 255, 185, 0.7));
}

.modal-btn {
  box-shadow: inset 0 -11px 11px 0 rgba(255, 255, 255, 0.34), inset 0 10px 5px 0 rgba(0, 0, 0, 0.3), 0 -5px 0 0 rgba(56, 8, 8, 0.4), 0 2px 0 0 rgba(255, 255, 255, 0.27);
  background: linear-gradient(180deg, #16c013 16.48%, #085e05 61.69%);
  transition: all 0.2s;
}

.modal-btn:hover {
  box-shadow: inset 0 -11px 22px 0 rgba(255, 255, 255, 0.4), inset 0 10px 15px 0 rgba(0, 0, 0, 0.3), 0 -5px 0 0 rgba(56, 8, 8, 0.4), 0 2px 0 0 rgba(255, 255, 255, 0.27);
}

.star {
  filter: drop-shadow(0 0 9px #fff);
}

/* Spinning */

.form-overlay.is-open {
  display: grid;
}

/* | AUTH FORM STYLES */

.auth-form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #131523 inset;
  -webkit-text-fill-color: #f0f0f0;
}

.auth-form input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #131523 inset;
  -webkit-text-fill-color: #f0f0f0;
}

.auth-form input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 1000px #131523 inset;
  -webkit-text-fill-color: #f0f0f0;
}


.auth-form .iti {
  width: 100%;
  height: 52px;
  background: #131523;
  border: 1px solid rgba(240, 240, 240, 0.2);
  border-radius: 8px;
  font-weight: 700;
}

.auth-form .iti .phone-input {
  width: 100%;
  height: 100%;
  outline: none;
}

.auth-form .iti__country-list li {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 8px;
  background-color: #253265;
}

.auth-form .iti__search-input {
  display: none !important;
}

.auth-form .iti__country-list li.iti__highlight {
  background-color: #33417B;
}

.auth-form .iti__country-list li span {
  color: #f0f0f0;
}

.auth-form .iti__dropdown-content {
  top: 105%;
  border-radius: 8px !important;
  overflow: hidden !important;
  border-color: #4E5881 !important;
}

.form-content {
  display: none;
}

.form-content.active {
  display: block;
}

.modal-tabs button.active {
  border-color: #F4FD2B;
  color: #F4FD2B;
}

.modal-tabs button[data-tab='email'].active svg {
  stroke: #F4FD2B;
}

.modal-tabs button[data-tab='phone'].active svg {
  stroke: #F4FD2B;
}

.modal-tabs button[data-tab='social'].active svg {
  fill: #F4FD2B;
}

.modal-tabs button[data-tab='oneclick'].active svg {
  stroke: #F4FD2B;
}

.checkbox:hover .checkbox-content::before {
  background-image: url('../img/unckecked.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.checkbox-input:checked+.checkbox-content::before {
  background: url('../img/ckecked.svg'), #F4FD2B;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.checkbox-content::before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #272f50;
  background-color: #0e0f20;
  position: absolute;
  left: 0;
  top: 3px;
}

.socials-item {
  box-shadow: inset 0 2px 3px 0 rgba(255, 255, 255, 0.25);
  background: #253265;
  position: relative;
  overflow: hidden;
}

.socials-item::before {
  content: '';
  width: 30px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  filter: blur(4px);
}

.social-variant-input:checked+.socials-item {
  background-color: #fff;
}

.social-variant-input:checked+.socials-item svg {
  fill: #0e0f20;
}

.valid {
  border-color: #4ED937;
}

.non-valid {
  border-color: #FF5530;
}

.auth-form-email.valid .validation-cta .correct {
  display: block;
}

.auth-form-email.non-valid .validation-cta {
  display: flex;
}

.auth-form-email.non-valid .validation-cta .wrong {
  display: block;
}

.auth-form-password.valid .password-cta .correct {
  display: block;
}

.auth-form-password.non-valid .password-cta .wrong {
  display: block;
}

.error-alert.is-visible {
  opacity: 1;
  visibility: visible;
}

.error-alert::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  border-top: 6px solid #f0f0f0;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}

.terms-input.non-valid+span::before {
  border-color: #FF5530;
}

.auth-form-phone.valid {
  border: 1px solid #4ED937;
  border-radius: 8px;
}

.auth-form-phone.valid .form-phone-cta {
  display: block;
}

.auth-form-phone.non-valid .form-phone-cta {
  display: block;
}

.auth-form-phone.valid .form-phone-cta .correct {
  display: block;
}

.auth-form-phone.non-valid .form-phone-cta .wrong {
  display: block;
}

.auth-form-phone.non-valid {
  border: 1px solid #FF5530;
  border-radius: 8px;
}

.modal-tabs button::before {
  content: '';
  width: 50px;
  height: 30px;
  border-radius: 50px;
  background: #ffffff50;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  z-index: 2;
  filter: blur(15px);
  will-change: filter;
  opacity: 0;
  transition: 0.2s;
}

.modal-tabs button.active::after {
  content: '';
  width: 50px;
  height: 30px;
  border-radius: 50px;
  background: #F4FD2B50;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  z-index: 10;
  filter: blur(15px);
  will-change: filter;
}

.modal-tabs button.active::before {
  display: none;
}

.modal-tabs button:hover::before {
  opacity: 1;
}

.modal-tabs button.active:hover::before {
  background: #F4FD2B50;
}

.decline-title {
  filter: drop-shadow(0px 0px 15px #000000);
}

.decline-title span {
  background: linear-gradient(180deg, #ff9696 0%, #ff3838 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.decline-yellow-btn {
  box-shadow: inset 0 4px 4px 0 rgba(255, 255, 255, 0.75);
  background: linear-gradient(180deg, #f4fd2b 0%, #ffa434 100%);
}

.next-deposit {
  background: url('../img/next-deposit-bg.webp'), linear-gradient(180deg, rgba(20, 130, 255, 0.4) 0%, rgba(20, 130, 255, 0.4) 100%);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: contain;
}

.banner-big-text {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.your-winning {
  background: url('../img/your-winning-bg.webp'), linear-gradient(180deg, rgba(78, 217, 55, 0.4) 0%, rgba(24, 94, 13, 0.4) 100%);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: contain;
}

.form-yellow-btn {
  position: relative;
  overflow: hidden;
}

.form-yellow-btn::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #f0f0f020;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

.form-yellow-btn:hover::before {
  opacity: 1;
  visibility: visible;
}

.social-variant-input:disabled+span {
  opacity: 0.4;
}

.submit-disabled {
  opacity: 0.4;
  pointer-events: none;
}

.form-yellow-btn svg {
  display: none;
}

.form-yellow-btn span {
  display: block;
}

.form-yellow-btn.loading svg {
  display: block;
}

.form-yellow-btn.loading span {
  display: none;
}

/* | SOCIALS FORM STYLES */

.socials-form .iti {
  width: 100%;
  height: auto;
  font-size: 18px !important;
  font-weight: 700;
  line-height: 100% !important;
}

.socials-form .iti__selected-country-primary:hover {
  background-color: transparent !important;
}

.socials-form .iti .phone-input {
  width: 100%;
  height: 100%;
  outline: none;
}

.socials-form .iti__country-list {
  border: none !important;
}

.socials-form .iti__country-list li {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 8px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.socials-form .iti__tel-input {
  padding-left: 100px !important;
}

.socials-form .iti__selected-country-primary {
  height: auto !important;
}

.socials-form .iti__search-input {
  border: none !important;
  outline: none;
  color: #0f0f0f;
  padding: 10px 12px;
}

.socials-form .iti__country-list li span {
  color: #0f0f0f;
}

.socials-form .iti__dropdown-content {
  top: 110%;
  border-radius: 8px !important;
  overflow: hidden !important;
}

.socials-form .iti__dial-code {
  color: #755EEB !important;
}

.socials-form .iti__selected-dial-code {
  color: #755EEB !important;
}

.socials-form .iti .phone-input {
  font-size: 18px !important;
  line-height: 100% !important;
  height: 22px !important;
}

.socials-form .iti__selected-country {
  height: 22px !important;
}


.socials-form-type-btn::before {
  content: '';
  width: 100%;
  height: 3px;
  background: #FAD303;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
}

.socials-form-type-btn.active::before {
  opacity: 1;
}

.socials-form-type-btn.active span {
  color: #FAD303;
}

.socials-form-type-btn.active svg {
  stroke: #FAD303;
}

.socials-form-group-email label {
  transition: 0.3s;
}

/* .form-group-email input:focus, */
.socials-form-group-email input:focus+label,
.socials-form-group-email input:not(:placeholder-shown)+label {
  font-size: 12px;
  transform: translateY(-14px);
}

.form-step-btn:disabled {
  background: #8a8e37;
}

.socials-form-group {
  display: none;
}

.socials-form-group.active {
  display: flex;
}

.socials-form-group {
  border: 2px solid transparent;
}

.socials-form-group.not-valid {
  border: 2px solid #FF5530;
}

.socials-form-group.not-valid input {
  color: #FF5530;
}

.socials-form-group.not-valid .tooltip {
  display: block;
}

.socials-form-group-password {
  border: 2px solid transparent;
}

.socials-form-group-password.not-valid {
  border: 2px solid #FF5530;
}

.socials-form-group-password.not-valid input {
  color: #FF5530;
}

.socials-form-group-password.not-valid .tooltip {
  display: block;
}

.socials-form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f0f0f0 inset;
  -webkit-text-fill-color: #755EEB;
}

.socials-form input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #f0f0f0 inset;
  -webkit-text-fill-color: #755EEB;
}

.socials-form input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 1000px #f0f0f0 inset;
  -webkit-text-fill-color: #755EEB;
}

.checkbox .checkbox-content::before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid transparent;
  position: absolute;
  left: 0;
  top: 0;
}

.checkbox .checkbox-input:checked+.checkbox-content::before {
  background: url('../img/checked.svg') #F4FD2B;
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.tooltip::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;

  border-top: 6px solid #f0f0f0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.form.loading .main-form-submit-btn span {
  display: none;
}

.form.loading .main-form-submit-btn .loading-icon {
  display: block;
}

.form.loading .form-group-password {
  pointer-events: none;
  opacity: 0.6;
}

.form.loading .form-currency {
  pointer-events: none;
  opacity: 0.6;
}

/* | EXTRA */

.form-currency-dropdown {
  max-height: 225px;
  overflow-y: auto;
}

.red-arrow {
  animation: redArrow 1s ease infinite forwards;
}

@keyframes redArrow {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(5px);
  }
}

.form-bonus-btn.bonus-applied {
  border-color: #4ED937;
}

.form-bonus-btn.bonus-applied .bonus-btn-check {
  display: block;
}

.form-bonus-btn.bonus-applied .bonus-btn-arrow {
  display: none;
}

@media (max-width: 374px) {
  .main-bonus-name {
    font-size: 12px !important;
  }
}