@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dela Gothic One';
  src: url('../fonts/DelaGothicOne-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Podkova';
  src: url('../fonts/Podkova-ExtraBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Podkova';
  src: url('../fonts/Podkova-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dot {
    @apply w-6 h-6 rounded-full bg-white absolute opacity-55 mobile:w-3 mobile:h-3
  }
}

.money-portal::before {
  content: '';
  width: 100%;
  height: 100%;
  box-shadow: 0 29px 98px 0 rgba(0, 0, 0, 0.4);
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.15) 0%, #fff 30%, rgba(255, 255, 255, 0.49) 50%, #fff 69.5%, rgba(255, 255, 255, 0.15) 100%);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}

.spin-btn-text {
  text-shadow: 0 9px 9px #000;
}

.number {
  position: absolute;
  width: 50%;
  height: 50%;
  transform-origin: bottom right;
  transform: rotate(calc(22.5deg * var(--i)));
  display: flex;
  align-items: center;
  justify-content: center;
}

.number div {
  transform: rotate(-135deg);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.number div p {
  font-family: 'Dela Gothic One';
  font-size: 32px;
  color: #fff;
  line-height: 76%;
  text-shadow: -6px 0px 8px #000;
}

.number div .wheel-currency {
  filter: drop-shadow(0 4px 5px #000);
}

.number div .wheel-lose {
  margin-left: 40px;
}

@media (max-width: 1650px) {
  .number div img {
    width: 30px;
    height: 30px;
  }

  .number div p {
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  .number div .wheel-currency {
    width: 17px;
    height: 17px;
  }

  .number div p {
    font-size: 12px;
  }

  .number div img {
    width: 20px;
    height: 20px;
  }
}

.overlay.is-open {
  display: grid;
}

.modal {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.modal-win {
  box-shadow: inset 0 10px 13px 0 rgba(255, 255, 255, 0.66);
  background: url('../img/modal-lines.svg'), linear-gradient(180deg, #24a521 0%, #26351d 100%);

}

.modal-lose-inner {
  box-shadow: inset 0 8px 11px 0 rgba(255, 255, 255, 0.66);
  background: linear-gradient(180deg, #f54278 0%, #821717 100%);
}

.modal-win .modal-head p {
  text-shadow: 0 5px 0 #1d500c, 0 -2px 0 #1d500c, -2px 0 0 #1d500c, 2px 0 0 #1d500c;
}

.modal-lose .modal-head p {
  text-shadow: 0 5px 0 #380808, 0 -2px 0 #380808, -2px 0 0 #380808, 2px 0 0 #380808;
}

.modal-head span {
  text-shadow: 0 5px 0 #380808;
}

.modal-prize {
  box-shadow: inset 0 10px 10px 0 rgba(0, 0, 0, 0.25);
}

.modal-prize span {
  background: linear-gradient(180deg, #fff 0%, #cfffb9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 10px rgba(207, 255, 185, 0.7));
}

.modal-prize img {
  filter: drop-shadow(0 0 10px rgba(207, 255, 185, 0.7));
}

.modal-btn {
  box-shadow: inset 0 -11px 11px 0 rgba(255, 255, 255, 0.34), inset 0 10px 5px 0 rgba(0, 0, 0, 0.3), 0 -5px 0 0 rgba(56, 8, 8, 0.4), 0 2px 0 0 rgba(255, 255, 255, 0.27);
  background: linear-gradient(180deg, #16c013 16.48%, #085e05 61.69%);
  transition: all 0.2s;
}

.modal-btn:hover {
  box-shadow: inset 0 -11px 22px 0 rgba(255, 255, 255, 0.4), inset 0 10px 15px 0 rgba(0, 0, 0, 0.3), 0 -5px 0 0 rgba(56, 8, 8, 0.4), 0 2px 0 0 rgba(255, 255, 255, 0.27);
}

.star {
  filter: drop-shadow(0 0 9px #fff);
}

.dark-overlay {
  pointer-events: none;
}

.dark-overlay.is-hidden {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.wheel-action-text {
  text-shadow: 0 5px 5px #000;
}

.rotate-phone {
  animation: rotate 1.5s ease-in-out infinite alternate;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  50% {
    transform: rotate(90deg)
  }

  100% {
    transform: rotate(90deg)
  }
}

.money-img,
.modal-money {
  filter: drop-shadow(0 24px 48px rgba(0, 0, 0, 0.25));
}

/* Form */

.iti {
  width: 100%;
  height: auto;
  font-size: 18px !important;
  font-weight: 700;
  line-height: 100% !important;
}

.iti__selected-country-primary:hover {
  background-color: transparent !important;
}

.iti .phone-input {
  width: 100%;
  height: 100%;
  outline: none;
}

.iti__country-list {
  border: none !important;
}

.iti__country-list li {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 8px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.iti__tel-input {
  padding-left: 100px !important;
}

.iti__selected-country-primary {
  height: auto !important;
}

.iti__search-input {
  border: none !important;
  outline: none;
  color: #0f0f0f;
  padding: 10px 12px;
}

.iti__country-list li span {
  color: #0f0f0f;
}

.iti__dropdown-content {
  top: 110%;
  border-radius: 8px !important;
  overflow: hidden !important;
}

.iti__dial-code {
  color: #755EEB !important;
}

.iti__selected-dial-code {
  color: #755EEB !important;
}

.iti .phone-input {
  font-size: 18px !important;
  line-height: 100% !important;
  height: 22px !important;
}

.iti__selected-country {
  height: 22px !important;
}

.form-overlay.is-open {
  display: grid;
}

@media (max-width: 576px) {
  .form-overlay.is-open {
    display: block;
  }
}

.copy-tooltip::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.copy-tooltip {
  opacity: 0;
  transition: opacity 0.3s;
}

.copy-tooltip.is-visible {
  opacity: 1;
}

.form-type-btn::before {
  content: '';
  width: 100%;
  height: 3px;
  background: #FAD303;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
}

.form-type-btn.active::before {
  opacity: 1;
}

.form-type-btn.active span {
  color: #FAD303;
}

.form-type-btn.active svg {
  stroke: #FAD303;
}

.form-group-email label {
  transition: 0.3s;
}

/* .form-group-email input:focus, */
.form-group-email input:focus+label,
.form-group-email input:not(:placeholder-shown)+label {
  font-size: 12px;
  transform: translateY(-14px);
}

.form-step-btn:disabled {
  background: #35659e;
}

.form-group {
  display: none;
}

.form-group.active {
  display: flex;
}

.form-group {
  border: 2px solid transparent;
}

.form-group.not-valid {
  border: 2px solid #FF5530;
}

.form-group.not-valid input {
  color: #FF5530;
}

.form-group.not-valid .tooltip {
  display: block;
}

.form-group-password {
  border: 2px solid transparent;
}

.form-group-password.not-valid {
  border: 2px solid #FF5530;
}

.form-group-password.not-valid input {
  color: #FF5530;
}

.form-group-password.not-valid .tooltip {
  display: block;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
  -webkit-text-fill-color: #755EEB;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
  -webkit-text-fill-color: #755EEB;
}

input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
  -webkit-text-fill-color: #755EEB;
}

.checkbox .checkbox-content::before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid transparent;
  position: absolute;
  left: 0;
  top: 0;
}

.checkbox .checkbox-input:checked+.checkbox-content::before {
  background: url('../img/checked.svg') #F4FD2B;
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.tooltip::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;

  border-top: 6px solid #f0f0f0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.form.loading .main-form-submit-btn span {
  display: none;
}

.form.loading .main-form-submit-btn .loading-icon {
  display: block;
}

.form.loading .form-group-password {
  pointer-events: none;
  opacity: 0.6;
}

.form.loading .form-currency {
  pointer-events: none;
  opacity: 0.6;
}